= provide(:title,'Edit user') 
%h1 Update your profile
%div{ class: "row" }
  %div{ class: ["span6","offset3"] }
    = render "layouts/user_form", button_text: "Save changes"
      
    = gravatar_for @user
    = link_to "change", "http://gravatar.com/emails", target: "_blank"
